@CHARSET "UTF-8";

body {
	padding: 15px;
	background-color: #eee;
	padding-top: 65px;
	overflow: hidden;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin a {
	margin-top: 10px;
	position: relative;
	width: 100%;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#range {
	width: 1000px; /* szerokość strony */
	height: 500px; /* wysokość strony */
	overflow: hidden;
	border: 0px;
	position: relative;
}

#container {
	position: absolute;
	top: -4500px; /* - map.height + range.height */
	left: -4000px; /* - map.width + range.width */
	width: 9000px; /* 2* map.width - range.width */
	height: 9500px; /* 2* map.height - range.height */
}

#map {
	background-image: url("../png/001.001.png");
	width: 5000px;
	height: 5000px;
}