<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-expanded="false">Menu <span
				class="caret"></span>
		</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/">Ekran główny</a></li>
				<li><a href="/city">{{ _table.city._name }}</a></li>
				<li><a href="/city">Miasto</a></li>
				<li><a href="/buildings">Budynki</a></li>
				<li class="divider"></li>
			</ul></li>

		<p class="navbar-text">
			<span>Zasoby:</span> <span data-toggle="tooltip"
				data-placement="bottom"
				title="Przytost: {{ _table.resources.resources_incom_gold }}/h">złoto
				{{ _table.resources.resources_gold }}</span>; <span data-toggle="tooltip"
				data-placement="bottom"
				title="Przytost: {{ _table.resources.resources_incom_wood }}/h">drewno
				{{ _table.resources.resources_wood }}</span>; <span data-toggle="tooltip"
				data-placement="bottom"
				title="Przytost: {{ _table.resources.resources_incom_stone }}/h">kamień
				{{ _table.resources.resources_stone }}</span>;
		</p>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/users/logout">Wyloguj się...</a>
	</ul>
</div>