{% include 'layouts/navigation.html' %}
<div class="container">
	<p>Budynki</p>
	<ul>
		<li><a href="/buildings/backery">Piekarnia</a></li>
		<li><a href="/buildings/barracks">Baraki</a></li>
		<li><a href="/buildings/coalmine">Kopalnia węgla</a></li>
		<li><a href="/buildings/farm">Farma</a></li>
		<li><a href="/buildings/goldmine">Kopalnia złota</a></li>
		<li><a href="/buildings/inn">Gospoda</a></li>
		<li><a href="/buildings/ironmine">Kopalnia żelaza</a></li>
		<li><a href="/buildings/ironsmithy">Kowal</a></li>
		<li><a href="/buildings/market">Targ</a></li>
		<li><a href="/buildings/mill">Młyn</a></li>
		<li><a href="/buildings/quarry">Garncarnia</a></li>
		<li><a href="/buildings/sawmill">Tartak</a></li>
		<li><a href="/buildings/school">Szkoła</a></li>
		<li><a href="/buildings/silvermine">Kopalnia srebra</a></li>
		<li><a href="/buildings/townhall">Ratusz</a></li>
		<li><a href="/buildings/treasury">Skarbiec</a></li>
		<li><a href="/buildings/warehouse">Magazyn</a></li>
		<li><a href="/buildings/watchtower">Strażnica</a></li>
		<li><a href="/buildings/woodcutter">Chata drwala</a></li>
	</ul>