﻿<form class="form-signin" role="form" action="/users/login"
	method="post">
	<h2 class="form-signin-heading"></h2>
	<input type="hidden" name="login" value="true" /> <input name="name"
		type="text" class="form-control" placeholder="nazwa użytkownika"
		required autofocus /> <input name="password" type="password"
		class="form-control" placeholder="password" required /> <input
		class="btn btn btn-primary btn-block" type="submit" value="Zaloguj" />
	<a class="btn btn-default" href="/users/signup" type="button"
		class="navbar-link btn btn-default">Złóż zapytanie o założenie
		konta</a>
</form>
