<form class="form-signin" role="form">
	<div class="form-group">
		<a href="/users/index" type="button"
			class="navbar-link btn btn-default">Odrzuć zmiany i wróć do
			ekranu logowania</a>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail">Adres email</label> <input type="email"
			class="form-control " id="exampleInputEmail1" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="exampleInputLogin">Nazwa użytkownika</label> <input
			type="email" class="form-control " id="exampleInputEmail1"
			placeholder="Nazwa użytkownika">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Hasło</label> <input
			type="password" class="form-control" id="exampleInputPassword1"
			placeholder="Hasło">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Powtórz hasło</label> <input
			type="password" class="form-control" id="exampleInputPassword1"
			placeholder="Hasło">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Zatwierdź</button>
	</div>
</form>